.button {
    background-color: #BDAC8D;
    color: white;
    border: none;
    padding: 1.3rem 3.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: "Archivo";
    cursor: pointer;
    transition: background-color 0.3s ease;
}