.swiper {
    width: 90%;
    position: relative;
    background-color: white;
}

.swiper-slide {
    position: relative;
}

.swiper-img {
    width: 100%;
    object-fit: cover;
}

.swiper-button-prev.custom-swiper-button,
.swiper-button-next.custom-swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-250%);
    height: 2rem;
    width: 2rem;
    background-color: white;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    cursor: pointer;
}

.swiper-button-next.custom-swiper-button::after,
.swiper-button-prev.custom-swiper-button::after {
    font-size: 1rem;
    color: black;
}

.swiper-button-prev.custom-swiper-button {
    left: 1rem;
}

.swiper-button-next.custom-swiper-button {
    right: 1rem;
}