@use '../constants/home-about';
@use '../constants/swiper';
@use '../constants/swiper-description';

.swiper-wrapper {
    max-width: 2rem;
    display: none;
    margin-bottom: 4rem;
    text-align: center;
}

.numbered-swiper {
    position: relative;
    margin: 3rem auto;
    text-align: center;
}

.swiper-item {
    max-width: 30rem;
    margin: 0 auto;
}

.pagination-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.swiper-description__desc__book-now__custom-line {
    display: none;
}

.btn-go-start,
.btn-go-end {
    background: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    margin: 0 7rem;
    z-index: 11;
    position: relative;
    top: -0.35rem;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    z-index: 10;
}

.swiper-pagination span {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    margin: 0 0.1rem;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

.swiper-pagination-bullet {
    margin: 0 0.1rem;
    font-size: 1rem;
}

.swiper-pagination-bullet-active {
    color: black;
}

@media only screen and (min-width: 1000px) {
    .swiper-item {
        max-width: 65rem;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .swiper-img {
        width: 30rem;
        height: auto;
        margin: 0 auto;
    }

    .swiper-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .swiper-description__img {
        display: inline-block;
        display: flex;
        align-items: start;
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        position: initial;
    }

    .swiper-img_container {
        width: 100%;
        display: flex;
        padding: 1rem;
    }

    .swiper-description-container {
        text-align: left;
        min-width: 13rem;
    }

    .swiper-description__desc {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        padding: 1rem;

        &__book-now {
            border: none;

            &__custom-line {
                display: inline-block;
                border: none;
                width: 2rem;
                height: 0.15rem;
                background-color: #F1F1F1;
            }
        }
    }
}