@use 'toastify-js/src/toastify.css';

@use 'components/header';
@use 'components/footer';
@use 'constants/button';
@use 'constants/home-about';
@use 'constants/image-swiper';
@use 'constants/swiper-description';
@use 'constants/swiper';
@use 'pages/about.scss';
@use 'pages/contact.scss';
@use 'pages/index.scss';
@use 'pages/offers.scss';
@use 'pages/roomDetails.scss';
@use 'pages/rooms.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}