.footer {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--footer-background-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.05;
        z-index: -1;
    }
}

.intro {
    width: 90%;
    margin: 0 auto;

    &__title {
        display: inline-block;
        vertical-align: middle;
        margin-top: 1rem;
        color: #777777;

        &__logo {
            background-color: #BEAD8E;
            font-family: "Archivo";
            font-size: 1.2rem;
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.6rem;


            & p {
                margin: 1rem;
                color: white;
            }
        }

        &__titl {
            font-family: "Archivo";
            display: inline-block;
            vertical-align: middle;

            & h2 {
                font-size: 1rem;
                font-weight: 700;
                color: black;
            }

            & h3 {
                font-size: 1rem;
                font-weight: 400;

            }
        }
    }

    &__text {
        margin-top: 1rem;
        color: #777777;
        font-size: 1rem;
        font-family: "Archivo";
    }

    &__socials {
        margin-top: 1rem;

        &__twitterImg {
            display: inline-block;
            background-color: #BEAD8E;
        }
    }
}

.socialsImgs {
    display: inline-block;
    background-color: #F8F8F8;

    &__img {
        margin: 0.5rem;
    }
}

.services {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    & h2 {
        font-family: "Old Standard TT";
        text-align: left;
    }

    &__container {
        &__containers {
            display: inline-block;
            text-align: left;
            list-style-type: none;
            vertical-align: top;

            & li {
                margin-top: 1rem;
                font-family: "Roboto";
                color: #777777;
                font-size: 1rem;
            }
        }
    }
}

.contactUs {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    & h2 {
        font-family: "Old Standard TT";
        text-align: left;
    }

    &__container {
        margin-top: 2rem;

        &__content {
            margin: 1rem 1rem 3rem 0;

            &__item {
                display: inline-block;
                margin-right: 1rem;

                & h2 {
                    font-family: "Old Standard TT";
                    font-size: 1.5rem;
                    font-weight: 400;
                }

                & h3 {
                    font-family: "Old Standard TT";
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.copyright {
    width: 90%;
    margin: 0 auto;

    & p {
        font-family: "Roboto";
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    .footer-container {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .copyright {
        display: flex;
        justify-content: space-around;
        background-color: white;
        width: 100%;

        p {
            margin-bottom: 0rem;
            padding: 1rem;
        }
    }

    .intro {
        width: 25%;
        min-width: 17rem;
    }

    .services {
        width: 30%;
        padding: 1rem;
        min-width: 21rem;

        &__container {
            display: flex;
            justify-content: space-between;
        }
    }

    .contactUs {
        width: 25%;
        min-width: 17rem;
    }
}